.logo_img {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home_img {
  width: 15%;
  padding-left: 30%;
}

.work_img {
  width: 15%;
  padding-left: 30%;
}

.about_img {
  width: 15%;
  padding-left: 30%;
}

.cara_img {
  width: 15%;
  left: 42%;
  right: 50%;
  position: absolute;
  display: block;
}

#texto1 {
  font-family: Ruda;
  font-size: 10%;
  line-height: 125%;
  position: relative;
  top: 50%;
  padding: 2% 15%;
float: left;
text-align: justify;
}

.eyes {
  position: relative;
  top: 50%;
  display: flex;
}

.eyes .eye {
  position: relative;
  width: 5px;
  height: 10px;
  background: #424241;
  margin: 0 1%;
  border-radius: 40%;
  left: 46.5%;
  padding-bottom: 1%;
}

.ilustração_img {
  width: 40%;
  display: block;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
}


.dudz_img {
  width: 15%;
  left: 42%;
  right: 50%;
  position: relative;

}
.eu_img{
  width: 30%;
  padding-right: 2%;
}
